.tasks-container
  %ul
    %li
      .row
        .col-md-10
          .task-index 1
          .task-content
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            %br
            .assigned-to 
              %span.assigned-title Assigned to
              Muhammed Anees
              %span.assigned-title on 
              12/11/2016
        .col-md-2
          .task-actions
            .task-action
              %a.delete-task
                %i.icon-trash
